
## <summary>policy for firstcoin</summary>


########################################
## <summary>
##	Transition to firstcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`firstcoin_domtrans',`
	gen_require(`
		type firstcoin_t, firstcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, firstcoin_exec_t, firstcoin_t)
')


########################################
## <summary>
##	Execute firstcoin server in the firstcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`firstcoin_initrc_domtrans',`
	gen_require(`
		type firstcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, firstcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search firstcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`firstcoin_search_lib',`
	gen_require(`
		type firstcoin_var_lib_t;
	')

	allow $1 firstcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read firstcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`firstcoin_read_lib_files',`
	gen_require(`
		type firstcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, firstcoin_var_lib_t, firstcoin_var_lib_t)
')

########################################
## <summary>
##	Manage firstcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`firstcoin_manage_lib_files',`
	gen_require(`
		type firstcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, firstcoin_var_lib_t, firstcoin_var_lib_t)
')

########################################
## <summary>
##	Manage firstcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`firstcoin_manage_lib_dirs',`
	gen_require(`
		type firstcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, firstcoin_var_lib_t, firstcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an firstcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`firstcoin_admin',`
	gen_require(`
		type firstcoin_t;
		type firstcoin_initrc_exec_t;
		type firstcoin_var_lib_t;
	')

	allow $1 firstcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, firstcoin_t)

	firstcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 firstcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, firstcoin_var_lib_t)

')

